body {
    background-color: #131516;
    color: #d8d4cf;
    font-family: "Vulf Sans"
}

body::selection {
    background-color: #004daa;
    color: #e8e6e3;
}

html, body, input, textarea, select, button {
    background-color: #181a1b;
    border-color: #736b5e;
    color: #d8d4cf;
}

::-webkit-scrollbar {
    /* background-color: #202324; */
    color: #aba499;
}

::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

.doc {
    margin: 0 auto;
    text-align: center;
    width: 70vw;
}

#dataTable {
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
}

.divScroll {
    overflow-y: scroll;
    max-height: 200px;
    width: 800px;
    border: 5px;
    border-color: #202324;
}

@font-face {
    font-family: "Vulf Sans";
    font-style: normal;
    font-weight: 400;
    src: url("Vulf_Sans-Regular.woff2");
}